<ul>
    <% bm.forEach(function(val, key){ %>
        <li>
            <a href="<%= val.url %>"> <%= val.title %> </a>
            <span class="right">
                <a href="/v1/bm/deleteForm/<%= val.bookmark_id %>"><i class="fa fa-trash" aria-hidden="true"></i></a>
                <a href="/v1/bm/editForm/<%= val.bookmark_id %>"><i class="fa fa-edit" aria-hidden="true"></i></a>
                <a href="/v1/bm/star/<%= val.bookmark_id %>"><i class="fa fa-star" aria-hidden="true"></i></a>
            </span>

        </li>
    <% }) %>

    <!-- <li class="bm-folder">
        <i class="fa fa-folder" aria-hidden="true"></i> Social Media
        <ul>
            <li>
                <span> www.facebook.com </span>
                <span class="right">
                    <a href="#openEditModal"><i class="fa fa-edit" aria-hidden="true"></i></a>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>
            </li>
            <li>
                <span> www.twitter.com </span>
                <span class="right">
                    <a href="#openEditModal"><i class="fa fa-edit" aria-hidden="true"></i></a>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>
            </li>
        </ul>
    </li> -->

</ul>
